html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%; 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 650px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 60px;
    transition-timing-function: ease-in;
    transition-duration: .2s;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 60px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    max-width: 600px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.stars, .time {
	margin-right: 5px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
.display-none {
	display: none;
}
.green {
	color: green;
}
.gold {
	color: gold;
}
.red {
	color: red;
}
.pop-up-modal {
	width: 600px;
	height: 590px;
	position: absolute;
	z-index: 2;
	background-color: #262529;
	opacity: .99;
	border-radius: 5px;
	text-align: center;
}
.heading-four, .subhead, .heading-one {
	font-weight: 500;
	color: white;
}

.heading-four {
	font-size: 20px;
}
.subhead {
	font-size: 18px;
}
.text-white {
	color: white;
}
.header {
	font-size: 35px;
}

@media screen and (max-width: 670px) {
	.deck {
		width: 500px;
		min-height: 550px;
	}
	.score-panel {
		max-width: 500px;
	}
	.deck .card {
		width: 100px;
		height:  100px;
	}
	.deck .card.show {
		font-size:  40px;
	}
	.pop-up-modal {
	width: 440px;
	height: 490px;
}
}
@media screen and (max-width: 550px){
		.deck {
		width: 450px;
		min-height: 500px;
	}
	.score-panel {
		max-width: 450px;
	}
	.deck .card {
		width: 80px;
		height:  80px;
	}
	.deck .card.show {
		font-size:  50px;
	}
	.deck .card.match {
		font-size:  50px;
	}
	.pop-up-modal {
	width: 390px;
	height: 440px;
}
}
@media screen and (max-width: 450px){
	.deck {
		width: 340px;
		min-height: 380px;
		padding: 15px;
	}
	.score-panel {
		max-width: 340px;
	}
	.deck .card {
		width: 70px;
		height:  70px;
	}
	.deck .card.show {
		font-size:  45px;
	}
	.deck .card.match {
		font-size:  45px;
	}
	.pop-up-modal {
	width: 310px;
	height: 350px;
	}
	.subhead, .heading-one, .heading-four {
		margin: 5px;
		padding: 0;
	}
}

@media screen and (max-width: 330px){
	.deck {
		width: 300px;
		min-height: 340px;
	}
	.score-panel {
		max-width: 300px;
	}
	.deck .card {
		width: 60px;
		height: 60px;
	}
	.deck .card.show {
		font-size:  35px;
	}
	.deck .card.match {
		font-size:  35px;
	}
	.pop-up-modal {
	width: 270px;
	height: 320px;
	}
	.subhead, .heading-one, .heading-four {
		margin: .5em;
		padding: 0;
		font-size: 1.1em;
	}
	p {
		margin: .8em;
	}
}






